<div class="parent">
    <div class="main">  	
        <input type="checkbox" id="chk" aria-hidden="true">
    
            <div class="signup">
                <form (ngSubmit)="onRegister()" #registerForm="ngForm">
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" 
                           name="userName" 
                           placeholder="User name" 
                           [(ngModel)]="registerModel.userName" 
                           required>
                    <input type="password" 
                           name="password" 
                           placeholder="Password" 
                           [(ngModel)]="registerModel.password" 
                           required>
                    <button type="submit">Sign up</button>
                </form>
            </div>
    
            <div class="login">
                <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="text" 
                           placeholder="Username" 
                           [(ngModel)]="model.userName" 
                           name="username" 
                           required />
                    <input type="password" 
                           placeholder="Password" 
                           [(ngModel)]="model.password" 
                           name="password" 
                           required />
                    <button type="submit">Login</button>
                </form>
            </div>
    </div>
</div>